{% extends 'template.html.twig' %}
{% block title1 %}
    {{ firstname }} {{ name }}
{% endblock %}

{% block body %}
    <h1>You are {{ firstname }} {{ name }} ! </h1>
    <p>Bonjour PAPI </p>
    mon url absolute est : {{ url('app_first') }}
{% endblock %}