{% extends 'template.html.twig' %}

{% block body %}
{{ dump(personne) }}

<div class="alert alert-success">
    <p>{{ personne.firstname }} {{ personne.lastname }} a été créé avec succès !</p>
    <p>{{ personne.firstname }} {{ personne.lastname }} a {{ personne.age }} ans</p>
    {% if app.user %}
        <p>CreatedBy : {{ app.user.email }}</p>
    {% endif %}


</div>

{% endblock %}

{% block title1 %}
    {{ personne.firstname }} {{ personne.lastname }}
{% endblock %}

